{% extends 'blog/post_list.html' %}
{% block content %}
{% for Request_register in reqreg %}
   <h3><b>{{ Request_register.title }}</b></h3></a>
   <p>Номер заявки: {{ Request_register.request_number }}</p>
   <p>ID потребителя: {{ Request_register.name_of_inhabitant|linebreaksbr }}</p>
   <p>Телефон потребителя: {{ Request_register.phone_number|linebreaksbr }}</p>
   <p>E-mail потребителя: {{ Request_register.email|linebreaksbr }}</p>
   <p>Причина обращения: {{ Request_register.reason|linebreaksbr }}</p>
   <p>ФИО исполнителя: {{ Request_register.name_of_doer }}</p>
   <p>Статус заявки: {{ Request_register.request_status }}</p>
   <p>Дата: {{ Request_register.created_date }}</p>
   <hr align="left" width="1000" />
{% endfor %}
{% endblock %}
