{% extends 'blog/post_list.html' %}
{% block content %}
{% for Request in req %}
   <h3><a class="btn btn-default" href="{% url 'Request_detail' pk=Request.pk %}"><b>ID {{ Request.id }}</b></a></h3>
   <p>ФИО потребителя: {{ Request.name_of_inhabitant|linebreaksbr }}</p>
   <p>Телефон потребителя: {{ Request.phone_number|linebreaksbr }}</p>
   <p>E-mail потребителя: {{ Request.email|linebreaksbr }}</p>
   <p>Причина обращения: {{ Request.reason|linebreaksbr }}</p>
   <p>Дата: {{ Request.created_date }}</p>
   <hr align="left" width="1000" />
{% endfor %}
<br><br>
<h3>Заявки за декабрь:</h3>
{% for Request in podate %}
   <p><a href="{% url 'Request_detail' pk=Request.pk %}"><b>ID {{ Request.id }}</b></a></p>
   <p>ФИО потребителя: {{ Request.name_of_inhabitant|linebreaksbr }}</p>
   <p>Дата: {{ Request.created_date }}</p>
{% endfor %}
<br><br>
<h4>Всего заявок: {{count}}</h4>
{% endblock %}
