<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>ГБУ "Жилищник"</title>
<style>
p {
color:  black; 
padding-left: 15px;}
header {
 display: block;
 height: 405px;
 text-align: center;
 background: #98FB98 url(1s.jpg) repeat-x center bottom;
}
</style>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div><h1><header>ГБУ "Жилищник"</h1></div>

<table border="1" bgcolor="#FFA07A" cellpadding="10" style="width:100%; border-radius:5px;">
<tr>
<td
rowspan="2"
style="width:80%">
<h2></h2>
<p style="text-indent:20px">
{% for Reply in posts %}
<div>
   <h3><b>Ответ №{{ Reply.title }}</b></h3>
   <p>ФИО потребителя: {{ Reply.name_of_inhabitant|linebreaksbr }}</p>
   <p>Наименование организации: {{ Reply.name_of_organisation|linebreaksbr }}</p>
   <p>Результат работы: {{ Reply.result|linebreaksbr }}</p>
   <p>Дата: {{ Reply.published_date }}</p>
</div>
{% endfor %}
</p>

<p style="text-indent:20px">
  {% for Request in posts %}
  <div>
     <h3><b>Заявка №{{ Request.title1 }}</b></h3>
     <p>ФИО потребителя: {{ Request.name_of_inhabitant1|linebreaksbr }}</p>
     <p>Телефон потребителя: {{ Request.phone_number|linebreaksbr }}</p>
     <p>E-mail потребителя: {{ Request.email|linebreaksbr }}</p>
     <p>Причина обращения: {{ Request.reason|linebreaksbr }}</p>
     <p>Дата: {{ post.published_date }}</p>
  </div>
  {% endfor %}
</p>
</td>

<td bgcolor="#FFA07A">
<h3>Меню</h3>
<p>

<a href="http://bus.gov.ru/pub/home">
<span style="margin-left:5px;">http://bus.gov.ru/pub/home</span></a>
</p>
<p>
<a href="">
<img src="">
<span style="margin-left:5px;"></span;></a>
</p>
<p>
<a href="">
<img src="">
<span style="margin-left:5px;"></span></a>
</p></td></tr>

<tr><td bgcolor="#FFA07A" align="center">
<h3>Общая информация</h3>
<p></p>
</td>
</tr>
</table>

<table
border="1"
bgcolor="#7FFFD4"
height="100"
cellpadding="10"
style="width:100%; border-radius:5px;">

<tr>
<th>
<h3></h3>

</th>
</tr>
</table>

</td>
</tr>
</table>
</body>
</html>
