<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<meta http-equiv="content-type" content="text/html; charset="utf-8""/>
<title>ГБУ "Жилищник"</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
<h1><a href='/'><header>ГБУ "Жилищник"</a></h1>

<table bgcolor="#FFA07A" cellpadding="40" style="width:100%">
<td rowspan="2" style="width:80%">
  {% block content %}
  {% endblock %}
<!--{% for Request in rep %}
   <a href="http://127.0.0.1:8000/admin/blog/request/"><h3><b>Заявка №{{ Request.title1 }}</b></h3></a>
   <p>ФИО потребителя: {{ Request.name_of_inhabitant1|linebreaksbr }}</p>
   <p>Телефон потребителя: {{ Request.phone_number|linebreaksbr }}</p>
   <p>E-mail потребителя: {{ Request.email|linebreaksbr }}</p>
   <p>Причина обращения: {{ Request.reason|linebreaksbr }}</p>
   <p>Дата: {{ Request.created_date }}</p>
   <hr align="left" width="300" size="10" color="#ADFF2F" />
{% endfor %}

{% for Reply in rep %}
   <a href="http://127.0.0.1:8000/admin/blog/reply/"><h3><b>Ответ №{{ Reply.title }}</b></h3></a>
   <p>ФИО потребителя: {{ Reply.name_of_inhabitant|linebreaksbr }}</p>
   <p>Наименование организации: {{ Reply.name_of_organisation|linebreaksbr }}</p>
   <p>Результат работы: {{ Reply.result|linebreaksbr }}</p>
   <p>Дата: {{ Reply.created_date }}</p>
   <hr align="left" width="300" size="4" color="#ADFF2F" />
{% endfor %}-->

<p></p>
</td>

<td bgcolor="#FFA07A">
<h3>Меню</h3>
<h4>Возможные действия:</h4>
<p style="text-align: left"><a href="http://127.0.0.1:8000/show_requests/"><button>Просмотреть заявки</button></a></p>
<p style="text-align: left"><a href="http://127.0.0.1:8000/show_replies/"><button>Просмотреть ответы</button></a></p>
<p style="text-align: left"><a href="http://127.0.0.1:8000/search-form/"><button>Поиск</button></a></p>

<!--<form>
<fieldset>
<legend>Что мы ищем?</legend>
 Фамилия заявителя:<br>
 <input type="text" name="name_of_inhabitant"><br>
 Номер заявки:<br>
 <input type="text" name="title1"><br>
 Номер ответа:<br>
 <input type="text" name="title"><br>
 <input type="submit" value="Submit">
</fieldset>
</form>-->

<h4><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">
<span style="margin-left:5px;">Администрирование</span></a></h4>
<p>Ссылки:<p><a href="http://bus.gov.ru/pub/home">
<span style="margin-left:5px;">Официальный сайт для ГБУ</span></a></p>
<p><a href="https://ru.wikipedia.org/wiki/%D0%96%D0%B8%D0%BB%D0%B8%D1%89%D0%BD%D0%BE-%D0%BA%D0%BE%D0%BC%D0%BC%D1%83%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D1%85%D0%BE%D0%B7%D1%8F%D0%B9%D1%81%D1%82%D0%B2%D0%BE">
<span style="margin-left:5px;">Википедия</span></a></p></p>
<tr><td bgcolor="#FFA07A" align="center">
<h3></h3>
<p></p>
</td>
</tr>
</table>

<table
border="1"
bgcolor="#7FFFD4"
height="100"
cellpadding="10"
style="width:100%; border-radius:5px;">

</table>
</td>
</tr>
</table>
</body>
</html>
