{% extends 'blog/post_list.html' %}

{% block content %}
    <h3>Новая заявка</h3>
    <form method="POST" class="post-form">{% csrf_token %}
      <p>ID</p>
      <p>{{ Request.id }}</p>
      <p>ФИО потребителя:</p>
      <p>{{ Request.name_of_inhabitant }}</p>
      <p>Телефон потребителя:</p>
      <p>{{ Request.phone_number }}</p>
      <p>E-mail потребителя:</p>
      <p>{{ Request.email }}</p>
      <p>Причина обращения:</p>
      <p>{{ Request.reason }}</p>
      <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
{% endblock %}
