h1 a {
    color: blue;
    font-family: 'Lobster';
}

h3 {
  padding-left: 30px;
  font-family: 'Sedgwick Ave', cursive;
}

h4 a {
    margin-left: 30px;
    color: brown;
    font-family: 'Lobster';
}

h4 {
    margin-left: 30px;
    color: brown;
    font-family: 'Lobster';
}

p {
color: #122A0A;
padding-left: 40px;
font-size: 130%;
font-family: 'Exo 2', sans-serif;
}

header {
 display: block;
 height: 105px;
 text-align: center;
 background: #98FB98;
}

form {
  padding-left: 30px;
}

hr {
   border: none;
   background-color: #59ADEE;
   color: #59ADEE;
   height: 2px
  }
